<div>
    {{form.valid}}
    <form [formGroup]="form" (submit)="sendData()">
        <div>
            <!-- <label for="fullname">Full name: </label> -->
            <input type="text" name="fullname" placeholder="Full name" formControlName="name">
        </div>
        <div>
             <!-- <label for="username">Username: </label> -->
            <input type="text" name="username" placeholder="Username" formControlName="username">
        </div>
        <div>
             <!-- <label for="email">Email: </label> -->
            <input type="text" name="email" placeholder="E-mail" formControlName="email">
        </div>
        <div>
            <!-- <label for="password">Password: </label> -->
            <input type="password" name="password" placeholder="Password" formControlName="password">
        </div>
        <div>
             <!-- <label for="passwordc"> Confirm your password: </label> -->
            <input type="password" name="passwordc" placeholder="Password" formControlName="confirm">
        </div>
        <div>
            <button [disabled]="!form.valid">Sign Up</button>
        </div>
        <span *ngIf="form.errors && form.errors['passwordMismatch']">Passwords dont match</span>
        <div>
            already have a account ? <a routerLink="/signup">Sign up here!</a>
        </div>
    </form>    
</div>