<div>
    <form [formGroup]="form" (submit)="sendData()">
        <div>
            <!-- <label for="fullname">Full name: </label> -->
            <input type="text" name="fullname" placeholder="Full name" formControlName="name">
        </div>
        <div>
             <!-- <label for="username">Username: </label> -->
            <input type="text" name="username" placeholder="Username" formControlName="username">
        </div>
        <div>
             <!-- <label for="email">Email: </label> -->
            <input type="text" name="email" placeholder="E-mail" formControlName="email">
        </div>
        <div>
            <!-- <label for="password">Password: </label> -->
            <input [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Password" formControlName="password">
            <button type="button" (click)="togglePassword()">{{showPassword ? 'Hide' : 'Show'}}</button>
        </div>
        <div>
             <!-- <label for="passwordc"> Confirm your password: </label> -->
            <input type="password" name="passwordc" placeholder="Confirm your password" formControlName="confirm">
        </div>
        <div>
            <label for="accept"> Aceptar terminos y condiciones </label>
            <input type="checkbox" name="accept" formControlName="acceptTerms"> 
        </div>
        <div>
            <button type="submit" [disabled]="!form.valid">Sign Up</button>
        </div>
        <span *ngIf="form.errors && form.errors['passwordMismatch']">Passwords dont match</span>
        <span [hidden]="!created">Correo ya en uso</span>
        <div>
            already have a account ? <a routerLink="/login">Log in here!</a>
        </div>
    </form>    
</div>