<div>
    <form (submit)="logIn()">
        <div class="line">
            <label for="email">Correo: </label>
            <input type="text" [(ngModel)]="credentials.email" name="email" placeholder="correo"> 
        </div>
        <div class="line">
            <label for="password">Password: </label>
            <input type="password" [(ngModel)]="credentials.password" name="password" placeholder="Password"> 
        </div>
        <div class="line">
            <button>Log in</button>
        </div>
        <span [hidden]="!error">Credenciales incorrectas</span>
        <div class="line">
            Dont have an account? <a routerLink="/signup">Sign up here</a>
        </div>
    </form>
</div>