.container{
    background-color: #f3dbff;
    width: 100%;
    height: 85%;
    text-align: center;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    display: inline-block;

}
.line{
    padding: 5px;
}
